*{
    margin: 0px;padding: 0px;
}
#nav{
    height: 100px;
}
/*登录注册按钮*/
.LoginandGegister{
    position: relative;
    right: 5%;
    float: right;
    text-align: center;
    color: #fff9ec;
    line-height: 60px;
}

/*问题样式*/
#question{
    width: 250px;height: 250px;
    margin: auto;
    text-align: center;
    line-height: 250px;
    margin-bottom: 30px;
    border: black 1px solid;
    background: #fff9ec;
}

/*选择框样式*/
.cells{
    width: 250px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
}
.cell{
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 10px;
    float: left;
    border: 1px solid;
    border-radius:7px;
    background: white;
    cursor: pointer;
}

/*下面的字框框样式*/
.words{
    width: 250px;
    height: 250px;
    line-height: 40px;
    margin: auto;
    text-align: center;

}
.word{
    width: 50px;
    height: 40px;
    margin: 15px;
    float: left;
    border: 1px solid;
    border-radius:7px;
    background: white;
    cursor: pointer;
}

/*下一题按钮*/
#next{
    position: relative;
    width: 80px;
    margin: auto;
}

